#intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p a {
    color: #80800087;
}

#tech {
    background-color:#80800038;
}

.home {
    width: 550px; 
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}