.home {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 550px; 
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    float: none;
}

p a {
    color: #80800087;
}

#tech {
    background-color:#80800038;
}

.profile {
    width: 400px;
    margin-top: 30px;
    padding: 10px 0;
    align-items: center;
    margin: auto;
}

#profilePic {
    border-radius: 50%;
}