
  
  .nav-item {
    width: 100px;
    text-align: center;
  }
  
  nav a {
    color: #80800087;
    text-decoration: none;
  }
  
  nav a.active {
    color: #80800087;
    font-weight: bold;
    border-bottom: 5px dotted;
    box-sizing: border-box;
  }
  
  nav a.active:hover {
    color: #808000d1;
  }
  
  nav a:hover {
    text-decoration: none;
    color:  #80800087;
  }
  
  nav a.active.navbar-brand {
    border-bottom: none;
  }
  
  nav a:not(.navbar-brand):hover {
    font-weight: bold;
  }

  h4 {
      color: olive;
  }
